<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @posts.each do |post| %>
      <h2> <%= post.name %> </h2>
        <p><%= post.content %></p>
    <% end %>
  </body>
</html>
