<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" id="name" name="post[name]">
      <input type="text" id="content" name="post[content]">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
